ICTPossibilityControllerCore/bin
ICTPossibilityControllerCore/obj
ICTPossibilityDALCore/bin
ICTPossibilityDALCore/obj
ICTPossibilityDomainCore/bin
ICTPossibilityDomainCore/obj
ICTPossibilityDTOCore/bin
ICTPossibilityDTOCore/obj
ICTPossibilityIOCCore/bin
ICTPossibilityIOCCore/obj
ICTPossibilityMapperCore/bin
ICTPossibilityMapperCore/obj
ICTPossibilityServiceCore/bin
ICTPossibilityServiceCore/obj